# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/Group5FrontEnd/config
/.vs/Group5FrontEnd/FileContentIndex/69685429-52cc-45ac-b08e-81211020c57f.vsidx
/.vs/Group5FrontEnd/FileContentIndex
.vs/slnx.sqlite
.vs/Group5FrontEnd/v17/.wsuo
/.vs/Group5FrontEnd/v17
